In [1]:
import pandas as pd
import numpy as np
from tgan.model import TGANModel

OpenCV is built with OpenMP support. This usually results in poor performance. For details, see https://github.com/tensorpack/benchmarks/blob/master/ImageNet/benchmark-opencv-resize.py
WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/tensorpack/callbacks/hooks.py:17: The name tf.train.SessionRunHook is deprecated. Please use tf.estimator.SessionRunHook instead.

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/tensorpack/tfutils/optimizer.py:18: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/tensorpack/tfutils/sesscreate.py:20: The name tf.train.SessionCreator is deprecated. Please use tf.compat.v1.train.SessionCreator instead.

In [4]:
model_path = '../demos/Model2.pkl'
new_tgan = TGANModel.load(model_path)

[0207 14:34:39 @collection.py:146] New collections created in tower : tf.GraphKeys.REGULARIZATION_LOSSES
[0207 14:34:39 @collection.py:165] These collections were modified but restored in : (tf.GraphKeys.SUMMARIES: 0->2)
[0207 14:34:39 @sessinit.py:87] WRN The following variables are in the checkpoint, but not found in the graph: global_step, optimize/beta1_power, optimize/beta2_power
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
[0207 14:34:40 @sessinit.py:114] Restoring checkpoint from output/model/model-50000 ...
INFO:tensorflow:Restoring parameters from output/model/model-50000

In [6]:
new_samples = new_tgan.sample(1000)
new_samples.head(3)
new_samples.to_csv('../data/generated_female_1000_2.csv')

  2%|2         |4/200[00:00<00:09,21.54it/s]

In [7]:
new_samples.head(3)

,82,Private,132870,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,0.1
0,30.955627,Private,17277.568722,8.999882,Widowed,Adm-clerical,Not-in-family,White,Female,0.002,0.002,23.715948,United-States,0
1,41.133308,Private,197522.623491,8.999250,Widowed,Other-service,Not-in-family,White,Female,0.002,0.002,21.416452,United-States,0
2,29.023120,Private,52653.256251,10.846858,Divorced,Sales,Not-in-family,White,Female,0.002,0.002,40.000902,United-States,0